# Python + Jupyter stuff
__pycache__/
.ipynb_checkpoints/
.DS_Store
__MACOSX/
shit/
models2/
# LaTeX build files
*.log
*.aux
*.out
*.fdb_latexmk
*.fls
*.synctex.gz

# Keep folders but ignore contents
models/*
!models/.gitkeep
logs/*
!logs/.gitkeep
plots/*
!plots/.gitkeep
doc/*
!doc/.gitkeep


